# ⚡ GridSense AI Environment Configuration

# PostgreSQL Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/gridsense?schema=public"

# Backend Gateway Port & Secrets
PORT=5000
JWT_SECRET="gridsense_enterprise_super_secret_jwt_key_2026"
CORS_ORIGIN="http://localhost:5173"

# Python Machine Learning Microservice
ML_API_URL="http://localhost:8000"

# Frontend Vite Port
VITE_API_URL="http://localhost:5000/api"
